In [1]:
import pandas as pd

In [5]:
#задание 1
cd ml-latest-small

C:\Users\bes\Downloads\ml-latest-small

In [6]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
links = pd.read_csv('links.csv')

In [7]:
def rate_film(rating):
    if rating <= 2:
        return 'low'
    elif rating <= 4:
        return 'medium'
    elif rating <= 5:
        return 'high'
ratings['class'] = ratings['rating'].apply(rate_film)
ratings

        userId  movieId  rating   timestamp   class
0            1       31     2.5  1260759144  medium
1            1     1029     3.0  1260759179  medium
2            1     1061     3.0  1260759182  medium
3            1     1129     2.0  1260759185     low
4            1     1172     4.0  1260759205  medium
...        ...      ...     ...         ...     ...
99999      671     6268     2.5  1065579370  medium
100000     671     6269     4.0  1065149201  medium
100001     671     6365     4.0  1070940363  medium
100002     671     6385     2.5  1070979663  medium
100003     671     6565     3.5  1074784724  medium

[100004 rows x 5 columns]

In [10]:
#задание 2
#cd ..
keywords = pd.read_csv('keywords.csv')

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

geo =dict()
for key, value in geo_data.items():
    for val in value:
        geo[val] = key
geo

{'москва': 'Центр',
 'тула': 'Центр',
 'ярославль': 'Центр',
 'петербург': 'Северо-Запад',
 'псков': 'Северо-Запад',
 'мурманск': 'Северо-Запад',
 'владивосток': 'Дальний Восток',
 'сахалин': 'Дальний Восток',
 'хабаровск': 'Дальний Восток'}

In [11]:
table = pd.DataFrame()
i = 0 
file = open ('keywords.csv', 'r', encoding='UTF-8')
for f in file:
    i += 1
    c = 'undefined'
    a,b = f.split(',')
    line = a.split(' ')
    for word in line:
        if word in geo.keys():
            c = geo[word]
    s = pd.Series({'keyword':str(a),'shows':str(b.replace('\n','')),'region':str(c)})
    #s = pd.Series({'keyword':[a],'shows':b.replace('\n',''),'region':c})
    table = table.append(s, ignore_index=True)
file.close

In [13]:
table[table['keyword'].str.contains('тула', case = True)].head()

                keyword region   shows
1580         авито тула  Центр  126168
11786              тула  Центр   23898
11796     гисметео тула  Центр   23970
14824  моя реклама тула  Центр   20375
17575      арсенал тула  Центр   17331

In [16]:
#задание 3
import re
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
years = [str(years) for years in range(1950,2011)]

In [17]:
def production_year(film):
    year = re.search(r'\(\d{4}\)',film)
    if year == None:
        year = '1900'
    else:
        year = year[0].split('(')[1].split(')')[0]
    if year in years:
        return year
    else:
        return '1900'
movies['year'] = movies['title'].apply(production_year)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [19]:
ratings.merge(movies, on = 'movieId', how = 'left').groupby('year').mean()['rating'].sort_values(ascending = False)

year
1957    3.999492
1954    3.985693
1972    3.956477
1962    3.929445
1952    3.895315
          ...
1990    3.435736
2005    3.433940
2000    3.420888
1997    3.410704
1996    3.352833
Name: rating, Length: 62, dtype: float64